.ChatContent {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 20px;
}

.RepeatContent {
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
}