// 基础间隔
$base_space: 12;
// 基础宽度
$base_width: 400;
//按钮宽度
$btn_width: 80;
//按钮间距
$btn_space: 10;

.ButtonArea {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

// 表单
.UserForm {
    display: block;
    width: $base_width + px;
    margin: 0 auto;
}

// 输入框
.UserInput {
    width: $base_width + px;
    margin: $base_space + px 0;
}

// 按钮区
.UserButton {
    width: $btn_width + px;
}


:export {
    buttonSpace: $btn_space;
}