// 基础间隔
$base_space: 12;
// 基础宽度
$base_width: 500;
//按钮宽度
$btn_width: 100;
//按钮间距
$btn_space: 50;
//footer高度
$footer_height: 20;

// 表单
.UserForm {
    display: block;
    width: $base_width + px;
    margin: 0 auto;
}

// 输入框
.UserInput {
    width: $base_width + px;
    margin: $base_space + px 0;
}


// 按钮区
.UserButton {
    display: block;
    width: $btn_width + px;
    margin: 0 auto;
}